__pycache__/
*.pyc
dist/
build/
*.spec
.venv/
output/
logs/
original-v15-gui/
dist-gui/
*.zip
ffmpeg.exe
ffprobe.exe
ingest_helper_v15_tasklink.exe
ingest_helper_v15_gui.exe
ingest_helper_v15_tasklink_0.1.0.zip
ingest_helper_v15_gui_0.2.0.zip
ingest_helper_v15_gui_0.2.1.zip
